@media only screen and (min-width: 1000px) {
  .w-fit.active {
    --translate: -50%;
    transform: translate(var(--translate));
  }

  .slide-nav {
    width: 100%;
  }
}

@media only screen and (min-width: 400px) {
  .w-fit.active {
    --translate: 0, 20%;
    transform: translate(var(--translate));
  }
  .slide-nav {
    width: 100%;
  }
}
/* @keyframes w-fit {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-50%);
  }
} */

.w-fit::after {
  content: "";
  height: 100%;
  width: 5px;
  background-color: black;
}

#hero {
  transition-delay: 200ms;
  transition: all 500ms ease-in-out;
}

#bg-flash {
  image-rendering: optimizeSpeed;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  position: absolute;
  background-color: none;
  width: 0;
}

/* ::-webkit-scrollthumb {
  height: 3rem;
  background-color: grey;
  opacity: 0.9;
} */

.hamburger {
  margin-top: 1rem;
  z-index: 9999;
  display: flex;
  gap: 9px;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-right: 2rem;
  width: 5rem;
  height: 100%;
}

.hamburger span {
  /* transition: color 2s ease-in-out; */
  /* flex-shrink: 1; */
  /* z-index: 21; */
  height: 6px;
  border-radius: 1rem;
  background-color: red;
}

.hamburger span:nth-child(1) {
  width: 85%;
  transition: all 200ms ease-in-out;
}
.hamburger span:nth-child(2) {
  transition: all 200ms ease-in-out;
}
.hamburger span:nth-child(3) {
  width: 85%;
  transition: all 200ms ease-in-out;
}

.hamburger.active span:nth-child(1) {
  width: 75%;
  transform: rotate(-45deg);
}
.hamburger.active span:nth-child(2) {
  background-color: black;
  z-index: 88;
  height: 8px;
  transform: translate(10%);
}
.hamburger.active span:nth-child(3) {
  width: 75%;
  transform: rotate(45deg);
}

.slide-nav {
  position: absolute;
  /* width: 100%; */
  width: 50%;
  top: 0%;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black; */
  background-color: white;
  transition: all 1s ease-in-out;
  /* animation: slide-in 1s ease-in-out; */
  transform: translate(-100%);
  z-index: 20;
}

/* --> was planning to make double navbar with the code below as the second right container of the hamburger menu */
/* .slide-nav-right {
  display: flex;
  width: 100%;
  min-height: 100vh
  background-color: black;
  transform: translate(50%);
  transition: all 1s ease-in-out;
}

.slide-nav-right.active {
  transform: translate(0);
} */

/* @keyframes slide-in {
  0% {
    transform: translate(-100%)
  }

  100% {
    transform: translate(0)
  }
} */

.slide-nav.active {
  transform: translate(0);
}

.slide-nav-content {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  color: black;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
